.selected_item {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  color: black;
  font-size: 12px;
  font-weight: bold;
}
